body{
background-color: black !important;
padding-top: 10%;
text-align: center;
}

h1{
font-family: 'Nosifer', cursive;
color: red;
padding: 5%;
font-size: 60px !important;
}

.btn-wow{
margin: 2% !important;
}


@media (max-width: 800px){
    h1{
    font-size: 50px !important;
    }
}